
body {
	font-family: 'Open Sans', sans-serif;
}

/*.navbar {
	top: 0;
}*/

h1 {
	font-family: 'Lato', sans-serif;

}

li {
	list-style-type: none;
}
li:hover {
	color:blue;
	cursor:pointer;
}

p {
	text-align: justify;
}

.icon {
	border-radius: 25px;
	width:100%;
}

.calltoaction-btn {
	text-align: center;
}

.hero {
	margin: 5%;
}

.hero-img {
	width: 100%;
	-webkit-box-shadow: 1px 8px 12px 0px rgba(194,190,194,1);
	-moz-box-shadow: 1px 8px 12px 0px rgba(194,190,194,1);
	box-shadow: 1px 8px 12px 0px rgba(194,190,194,1);
}

