body {
  font-family: "Open Sans", sans-serif;
}

/*.navbar {
	top: 0;
}*/

h1 {
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}
li:hover {
  color: #ababb0;
  cursor: pointer;
}

p {
  text-align: justify;
}

.icon {
  border-radius: 25px;
  width: 100%;
}

.calltoaction-btn {
  text-align: center;
}

.hero {
  margin: 5%;
}

.hero-img {
  width: 100%;
  -webkit-box-shadow: 1px 8px 12px 0px rgba(194, 190, 194, 1);
  -moz-box-shadow: 1px 8px 12px 0px rgba(194, 190, 194, 1);
  box-shadow: 1px 8px 12px 0px rgba(194, 190, 194, 1);
}
.explainer h2 {
  text-align: center;
  font-weight: bold;
}

.navpurple {
  background-color: #5e35b1;
}

/* Header Color */
​.hdrColor {
  color: #5e35b1;
}

.container-newRequest {
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-style-newRequest {
  padding-top: 30px;
}

.page-heading-newRequest {
  text-align: center;
}
.page-information-newRequest {
  text-align: center;
}

.radioDurationMonths {
  padding-top: 5px;
}

.incentive-style-newRequest {
  padding-top: 10px;
}

.charity-carousel {
  margin-left: 5%;
}

.carousel-caption p {
	text-align: center;
}

@media screen and (max-width: 1000px) {
  div.hideonmobile {
    display: none;
  }
}
